export(align.alleles)
export(annot.plink)
export(annot.read.plink)
export(dups)
export(impute.missing)
export(mismatch.count)
export(sample.match)
export(snp.match)
export(snp.trim)
exportClasses(aSnpMatrix)
exportClasses(aXSnpMatrix)
exportMethods("[")
exportMethods("alleles<-")
exportMethods("phenotype<-")
exportMethods(alleles)
import(methods)
import(snpStats)
useDynLib(annotSnpStats)
