export("alleles<-")
export("phenotype<-")
export(align.alleles)
export(alleles)
export(annot.plink)
export(annot.read.plink)
export(dups)
export(impute.missing)
export(mismatch.count)
export(sample.match)
export(samples)
export(sm)
export(snp.match)
export(snp.trim)
export(snps)
exportClasses(aSnpMatrix)
exportClasses(aXSnpMatrix)
exportMethods("[")
import(methods)
import(snpStats)
useDynLib(annotSnpStats)
